definitions:
  dto.AccountDTO:
    properties:
      email:
        example: popov@gmail.com
        type: string
      password:
        example: secret
        type: string
    type: object
  dto.LeadCreateUpdateDTO:
    properties:
      converted_to_client_at:
        type: string
      created_at:
        type: string
      created_by:
        type: integer
      id:
        type: integer
      name:
        type: string
      phone:
        type: string
      qualification:
        type: string
      school_id:
        type: string
      source_id:
        type: integer
      status_id:
        type: integer
      trial_date:
        type: string
    type: object
  dto.LeadGroupCreateUpdateDTO:
    properties:
      group_id:
        type: integer
      id:
        type: integer
      lead_id:
        type: integer
      school_id:
        type: string
    type: object
  dto.LeadResponseDTO:
    properties:
      converted_to_client_at:
        type: string
      created_at:
        type: string
      created_by:
        type: integer
      id:
        type: integer
      name:
        type: string
      phone:
        type: string
      qualification:
        type: string
      school_id:
        type: string
      source_id:
        type: integer
      status_id:
        type: integer
      trial_date:
        type: string
    type: object
  dto.LoginDTO:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  dto.ProfileDTO:
    properties:
      birthdate:
        example: "1985-01-01T00:00:00Z"
        type: string
      full_name:
        example: Артём Попов
        type: string
      phone:
        example: +7-999-123-45-67
        type: string
    type: object
  dto.RegisterInput:
    properties:
      account:
        $ref: '#/definitions/dto.AccountDTO'
      profile:
        $ref: '#/definitions/dto.ProfileDTO'
      school:
        $ref: '#/definitions/dto.SchoolDTO'
    type: object
  dto.RegisterOutput:
    properties:
      school_id:
        example: bbeb26e7-7a3a-4bcf-8a70-338f362eabd1
        type: string
    type: object
  dto.SchoolDTO:
    properties:
      city:
        example: Тимашевск
        type: string
      email:
        example: popov@gmail.com
        type: string
      name:
        example: Right Step
        type: string
      phone:
        example: +7-999-123-45-67
        type: string
    type: object
  dto.UserAccountResponseDTO:
    properties:
      created_at:
        type: string
      email:
        type: string
      id:
        type: integer
      school_id:
        type: string
    type: object
  leadhandlers.GroupedLeadInputDTO:
    properties:
      group_id:
        type: integer
      school_id:
        type: string
    type: object
  leadhandlers.GroupedLeadOutputDTO:
    properties:
      data:
        items:
          $ref: '#/definitions/dto.LeadCreateUpdateDTO'
        type: array
    type: object
  leadhandlers.СreateLeadInputDto:
    properties:
      group:
        $ref: '#/definitions/dto.LeadGroupCreateUpdateDTO'
      lead:
        $ref: '#/definitions/dto.LeadCreateUpdateDTO'
    type: object
  user.AuthCheckResponse:
    properties:
      isAuthenticated:
        type: boolean
      user:
        additionalProperties: true
        type: object
    type: object
  user.LoginResponse:
    properties:
      message:
        example: success
        type: string
      roles:
        items:
          type: string
        type: array
      user:
        $ref: '#/definitions/dto.UserAccountResponseDTO'
    type: object
info:
  contact: {}
paths:
  /api/auth/check:
    get:
      consumes:
      - application/json
      description: Приходит кука с токеном, высылается 200, если токен ещё валиден
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user.AuthCheckResponse'
        "401":
          description: Unauthorized
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Проверка авторизации
      tags:
      - Auth
  /api/leads/createandgroup:
    post:
      consumes:
      - application/json
      description: Транзакция на создания лида с записью в lead_groups
      parameters:
      - description: Данные для создания лида и привязке к группе
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/leadhandlers.%D0%A1reateLeadInputDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.LeadResponseDTO'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: LeadsAndGroups
      tags:
      - Leads
  /api/leads/groupedleads:
    post:
      consumes:
      - application/json
      description: Позволяет получить сгруппированных лидов школы
      parameters:
      - description: Фильтры group_id и school_id
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/leadhandlers.GroupedLeadInputDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/leadhandlers.GroupedLeadOutputDTO'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: GroupedLeads
      tags:
      - Leads
  /api/ownerschool/register:
    post:
      consumes:
      - application/json
      description: Создаёт школу, аккаунт владельца и профиль
      parameters:
      - description: Данные для регистрации
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/dto.RegisterInput'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.RegisterOutput'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Регистрация новой школы
      tags:
      - Auth
  /api/useraccounts/login:
    post:
      consumes:
      - application/json
      description: Вход стандарт email password, запись в httpOnly Cookies JWT
      parameters:
      - description: Данные для логина
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/dto.LoginDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            Set-Cookie:
              description: JWT-токен
              type: string
          schema:
            $ref: '#/definitions/user.LoginResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Логин
      tags:
      - Auth
  /api/useraccounts/logout:
    get:
      description: Простой get для logout. Пока только удаляет JWT из браузера, не
        ведёт blacklist
      responses:
        "204":
          description: No Content
      summary: Логаут
      tags:
      - Auth
swagger: "2.0"
